light_theme__15u1u5p0 .sprinkles_color_bg_light__jjm6ww0 {
  color: var(--color-bg__himk6m23);
}
dark_theme__ydwnpi0 .sprinkles_color_bg_dark__jjm6ww1 {
  color: var(--color-bg__himk6m23);
}
light_theme__15u1u5p0 .sprinkles_color_text_light__jjm6ww2 {
  color: var(--color-text__himk6m24);
}
dark_theme__ydwnpi0 .sprinkles_color_text_dark__jjm6ww3 {
  color: var(--color-text__himk6m24);
}
light_theme__15u1u5p0 .sprinkles_color_textSecondary_light__jjm6ww4 {
  color: var(--color-textSecondary__himk6m25);
}
dark_theme__ydwnpi0 .sprinkles_color_textSecondary_dark__jjm6ww5 {
  color: var(--color-textSecondary__himk6m25);
}
light_theme__15u1u5p0 .sprinkles_color_bgSecondary_light__jjm6ww6 {
  color: var(--color-bgSecondary__himk6m26);
}
dark_theme__ydwnpi0 .sprinkles_color_bgSecondary_dark__jjm6ww7 {
  color: var(--color-bgSecondary__himk6m26);
}
light_theme__15u1u5p0 .sprinkles_color_primary_light__jjm6ww8 {
  color: var(--color-primary__himk6m27);
}
.dark_theme__ydwnpi0 .sprinkles_color_primary_dark__jjm6ww9 {
  color: var(--color-primary__himk6m27);
}
light_theme__15u1u5p0 .sprinkles_color_secondary_light__jjm6wwa {
  color: var(--color-secondary__himk6m28);
}
dark_theme__ydwnpi0 .sprinkles_color_secondary_dark__jjm6wwb {
  color: var(--color-secondary__himk6m28);
}
light_theme__15u1u5p0 .sprinkles_color_highlight_light__jjm6wwc {
  color: var(--color-highlight__himk6m29);
}
dark_theme__ydwnpi0 .sprinkles_color_highlight_dark__jjm6wwd {
  color: var(--color-highlight__himk6m29);
}
light_theme__15u1u5p0 .sprinkles_color_muted_light__jjm6wwe {
  color: var(--color-muted__himk6m2a);
}
dark_theme__ydwnpi0 .sprinkles_color_muted_dark__jjm6wwf {
  color: var(--color-muted__himk6m2a);
}
light_theme__15u1u5p0 .sprinkles_color_accent_light__jjm6wwg {
  color: var(--color-accent__himk6m2b);
}
dark_theme__ydwnpi0 .sprinkles_color_accent_dark__jjm6wwh {
  color: var(--color-accent__himk6m2b);
}
light_theme__15u1u5p0 .sprinkles_color_pink_light__jjm6wwi {
  color: var(--color-pink__himk6m2c);
}
dark_theme__ydwnpi0 .sprinkles_color_pink_dark__jjm6wwj {
  color: var(--color-pink__himk6m2c);
}
light_theme__15u1u5p0 .sprinkles_color_gray_light__jjm6wwk {
  color: var(--color-gray__himk6m2d);
}
dark_theme__ydwnpi0 .sprinkles_color_gray_dark__jjm6wwl {
  color: var(--color-gray__himk6m2d);
}
light_theme__15u1u5p0 .sprinkles_color_blueGray_light__jjm6wwm {
  color: var(--color-blueGray__himk6m2e);
}
dark_theme__ydwnpi0 .sprinkles_color_blueGray_dark__jjm6wwn {
  color: var(--color-blueGray__himk6m2e);
}
light_theme__15u1u5p0 .sprinkles_color_chip_light__jjm6wwo {
  color: var(--color-chip__himk6m2f);
}
dark_theme__ydwnpi0 .sprinkles_color_chip_dark__jjm6wwp {
  color: var(--color-chip__himk6m2f);
}
light_theme__15u1u5p0 .sprinkles_color_shadow_light__jjm6wwq {
  color: var(--color-shadow__himk6m2g);
}
dark_theme__ydwnpi0 .sprinkles_color_shadow_dark__jjm6wwr {
  color: var(--color-shadow__himk6m2g);
}
light_theme__15u1u5p0 .sprinkles_color_border_light__jjm6wws {
  color: var(--color-border__himk6m2h);
}
dark_theme__ydwnpi0 .sprinkles_color_border_dark__jjm6wwt {
  color: var(--color-border__himk6m2h);
}
light_theme__15u1u5p0 .sprinkles_color_ghostBg_light__jjm6wwu {
  color: var(--color-ghostBg__himk6m2i);
}
dark_theme__ydwnpi0 .sprinkles_color_ghostBg_dark__jjm6wwv {
  color: var(--color-ghostBg__himk6m2i);
}
light_theme__15u1u5p0 .sprinkles_color_calloutInfoColor_light__jjm6www {
  color: var(--color-calloutInfoColor__himk6m2j);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutInfoColor_dark__jjm6wwx {
  color: var(--color-calloutInfoColor__himk6m2j);
}
light_theme__15u1u5p0 .sprinkles_color_calloutInfoBorderColor_light__jjm6wwy {
  color: var(--color-calloutInfoBorderColor__himk6m2k);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutInfoBorderColor_dark__jjm6wwz {
  color: var(--color-calloutInfoBorderColor__himk6m2k);
}
light_theme__15u1u5p0 .sprinkles_color_calloutInfoBackgroundColor_light__jjm6ww10 {
  color: var(--color-calloutInfoBackgroundColor__himk6m2l);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutInfoBackgroundColor_dark__jjm6ww11 {
  color: var(--color-calloutInfoBackgroundColor__himk6m2l);
}
light_theme__15u1u5p0 .sprinkles_color_calloutInfoStrongColor_light__jjm6ww12 {
  color: var(--color-calloutInfoStrongColor__himk6m2m);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutInfoStrongColor_dark__jjm6ww13 {
  color: var(--color-calloutInfoStrongColor__himk6m2m);
}
light_theme__15u1u5p0 .sprinkles_color_calloutWarningColor_light__jjm6ww14 {
  color: var(--color-calloutWarningColor__himk6m2n);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutWarningColor_dark__jjm6ww15 {
  color: var(--color-calloutWarningColor__himk6m2n);
}
light_theme__15u1u5p0 .sprinkles_color_calloutWarningBorderColor_light__jjm6ww16 {
  color: var(--color-calloutWarningBorderColor__himk6m2o);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutWarningBorderColor_dark__jjm6ww17 {
  color: var(--color-calloutWarningBorderColor__himk6m2o);
}
light_theme__15u1u5p0 .sprinkles_color_calloutWarningBackgroundColor_light__jjm6ww18 {
  color: var(--color-calloutWarningBackgroundColor__himk6m2p);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutWarningBackgroundColor_dark__jjm6ww19 {
  color: var(--color-calloutWarningBackgroundColor__himk6m2p);
}
light_theme__15u1u5p0 .sprinkles_color_calloutWarningStrongColor_light__jjm6ww1a {
  color: var(--color-calloutWarningStrongColor__himk6m2q);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutWarningStrongColor_dark__jjm6ww1b {
  color: var(--color-calloutWarningStrongColor__himk6m2q);
}
light_theme__15u1u5p0 .sprinkles_color_calloutErrorColor_light__jjm6ww1c {
  color: var(--color-calloutErrorColor__himk6m2r);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutErrorColor_dark__jjm6ww1d {
  color: var(--color-calloutErrorColor__himk6m2r);
}
light_theme__15u1u5p0 .sprinkles_color_calloutErrorBorderColor_light__jjm6ww1e {
  color: var(--color-calloutErrorBorderColor__himk6m2s);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutErrorBorderColor_dark__jjm6ww1f {
  color: var(--color-calloutErrorBorderColor__himk6m2s);
}
light_theme__15u1u5p0 .sprinkles_color_calloutErrorBackgroundColor_light__jjm6ww1g {
  color: var(--color-calloutErrorBackgroundColor__himk6m2t);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutErrorBackgroundColor_dark__jjm6ww1h {
  color: var(--color-calloutErrorBackgroundColor__himk6m2t);
}
light_theme__15u1u5p0 .sprinkles_color_calloutErrorStrongColor_light__jjm6ww1i {
  color: var(--color-calloutErrorStrongColor__himk6m2u);
}
dark_theme__ydwnpi0 .sprinkles_color_calloutErrorStrongColor_dark__jjm6ww1j {
  color: var(--color-calloutErrorStrongColor__himk6m2u);
}
light_theme__15u1u5p0 .sprinkles_color_prismColor_light__jjm6ww1k {
  color: var(--color-prismColor__himk6m2v);
}
dark_theme__ydwnpi0 .sprinkles_color_prismColor_dark__jjm6ww1l {
  color: var(--color-prismColor__himk6m2v);
}
light_theme__15u1u5p0 .sprinkles_color_prismHeaderBg_light__jjm6ww1m {
  color: var(--color-prismHeaderBg__himk6m2w);
}
dark_theme__ydwnpi0 .sprinkles_color_prismHeaderBg_dark__jjm6ww1n {
  color: var(--color-prismHeaderBg__himk6m2w);
}
light_theme__15u1u5p0 .sprinkles_color_prismPreBg_light__jjm6ww1o {
  color: var(--color-prismPreBg__himk6m2x);
}
dark_theme__ydwnpi0 .sprinkles_color_prismPreBg_dark__jjm6ww1p {
  color: var(--color-prismPreBg__himk6m2x);
}
light_theme__15u1u5p0 .sprinkles_color_prismHighlightBg_light__jjm6ww1q {
  color: var(--color-prismHighlightBg__himk6m2y);
}
dark_theme__ydwnpi0 .sprinkles_color_prismHighlightBg_dark__jjm6ww1r {
  color: var(--color-prismHighlightBg__himk6m2y);
}
light_theme__15u1u5p0 .sprinkles_color_paginationText_light__jjm6ww1s {
  color: var(--color-paginationText__himk6m2z);
}
dark_theme__ydwnpi0 .sprinkles_color_paginationText_dark__jjm6ww1t {
  color: var(--color-paginationText__himk6m2z);
}
light_theme__15u1u5p0 .sprinkles_color_paginationBg_light__jjm6ww1u {
  color: var(--color-paginationBg__himk6m30);
}
dark_theme__ydwnpi0 .sprinkles_color_paginationBg_dark__jjm6ww1v {
  color: var(--color-paginationBg__himk6m30);
}
light_theme__15u1u5p0 .sprinkles_color_paginationShadow_light__jjm6ww1w {
  color: var(--color-paginationShadow__himk6m31);
}
dark_theme__ydwnpi0 .sprinkles_color_paginationShadow_dark__jjm6ww1x {
  color: var(--color-paginationShadow__himk6m31);
}
light_theme__15u1u5p0 .sprinkles_color_paginationAccent_light__jjm6ww1y {
  color: var(--color-paginationAccent__himk6m32);
}
dark_theme__ydwnpi0 .sprinkles_color_paginationAccent_dark__jjm6ww1z {
  color: var(--color-paginationAccent__himk6m32);
}
light_theme__15u1u5p0 .sprinkles_borderColor_bg_light__jjm6ww20 {
  border-color: var(--color-bg__himk6m23);
}
dark_theme__ydwnpi0 .sprinkles_borderColor_bg_dark__jjm6ww21 {
  border-color: var(--color-bg__himk6m23);
}
light_theme__15u1u5p0 .sprinkles_borderColor_text_light__jjm6ww22 {
  border-color: var(--color-text__himk6m24);
}
dark_theme__ydwnpi0 .sprinkles_borderColor_text_dark__jjm6ww23 {
  border-color: var(--color-text__himk6m24);
}
light_theme__15u1u5p0 .sprinkles_borderColor_textSecondary_light__jjm6ww24 {
  border-color: var(--color-textSecondary__himk6m25);
}
dark_theme__ydwnpi0 .sprinkles_borderColor_textSecondary_dark__jjm6ww25 {
  border-color: var(--color-textSecondary__himk6m25);
}
light_theme__15u1u5p0 .sprinkles_borderColor_bgSecondary_light__jjm6ww26 {
  border-color: var(--color-bgSecondary__himk6m26);
}
dark_theme__ydwnpi0 .sprinkles_borderColor_bgSecondary_dark__jjm6ww27 {
  border-color: var(--color-bgSecondary__himk6m26);
}
light_theme__15u1u5p0 .sprinkles_borderColor_primary_light__jjm6ww28 {
  border-color: var(--color-primary__himk6m27);
}
dark_theme__ydwnpi0 .sprinkles_borderColor_primary_dark__jjm6ww29 {
  border-color: var(--color-primary__himk6m27);
}
light_theme__15u1u5p0 .sprinkles_borderColor_secondary_light__jjm6ww2a {
  border-color: var(--color-secondary__himk6m28);
}
dark_theme__ydwnpi0 .sprinkles_borderColor_secondary_dark__jjm6ww2b {
  border-color: var(--color-second…
