---
import Html from "../layouts/html.astro"
import { Fa, Button } from "../components"
import { fasArrowsToCircle } from "@faicons/solid"

---
<Html title='首页'>
  <Button>asdklj</Button>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut culpa debitis similique eum sed expedita doloribus velit accusantium nulla molestiae?</p>
  <Fa.Icon icon={fasArrowsToCircle} />
</Html>


