---
import Html from "../layouts/html.astro"
import { Navbar, Fa } from "../components"
import { fasArrowsToCircle } from "@faicons/solid";
---

<Html title='Index'>
  <p>rem16</p>
  <Fa.Icon icon={fasArrowsToCircle} />
  <Navbar.Root>This is navbar placeholder</Navbar.Root>
</Html>


