---
import Html from "../layouts/html.astro"
import { Button } from "../components/primitive/button"
---

<Html title='Index'>
  <p>Just Prepare for the first</p>
  <Button>asdjkasd</Button>
</Html>


