---
import "../styles/reset.css"
import "../styles/global.css"
import SEO from "../components/primitive/seo.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <SEO />
		<link rel="icon" type="image/png" href="/images/brand.png" />
		<title>{title}</title>
		<slot name="head"></slot>
	</head>
	<body>
		<slot />
 	</body>
</html>
